trigger:
  branches:
    include:
      - main
  paths:
    include:
      - '*.bicep'
      - '*.bicepparam'
      - 'azure-pipelines.yml'

variables:
  vmImageName: 'ubuntu-latest'
  resourceGroupName: 'rg-myapp-prod'
  location: 'eastus'
  templateFile: './main.bicep'
  parametersFile: './main.bicepparam'
  azureServiceConnection: 'MyAzureServiceConnection'  # Update this!

stages:
# Stage 1: Build & Validate
- stage: Build
  displayName: 'Build & Validate'
  jobs:
  - job: Validate
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: AzureCLI@2
      displayName: 'Install/Verify Bicep CLI'
      inputs:
        azureSubscription: $(azureServiceConnection)
        scriptType: 'bash'
        scriptLocation: 'inlineScript'
        inlineScript: |
          az bicep version || az bicep install
          az bicep version

    - task: AzureCLI@2
      displayName: 'Lint Bicep Template'
      inputs:
        azureSubscription: $(azureServiceConnection)
        scriptType: 'bash'
        scriptLocation: 'inlineScript'
        inlineScript: |
          az bicep lint --file $(templateFile)

    - task: AzureCLI@2
      displayName: 'Validate Template (What-If)'
      inputs:
        azureSubscription: $(azureServiceConnection)
        scriptType: 'bash'
        scriptLocation: 'inlineScript'
        inlineScript: |
          az group create --name $(resourceGroupName) --location $(location) --tags Environment=Production || true
          
          az deployment group what-if \
            --resource-group $(resourceGroupName) \
            --template-file $(templateFile) \
            --parameters $(parametersFile) \
            --result-format FullResourcePayloads

    - task: CopyFiles@2
      displayName: 'Copy Bicep files to artifacts'
      inputs:
        SourceFolder: '$(Build.SourcesDirectory)'
        Contents: |
          **/*.bicep
          **/*.bicepparam
          **/*.json
        TargetFolder: '$(Build.ArtifactStagingDirectory)'

    - task: PublishBuildArtifacts@1
      displayName: 'Publish Artifact'
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)'
        ArtifactName: 'bicep-templates'
        publishLocation: 'Container'

# Stage 2: Deploy to Production
- stage: DeployProd
  displayName: 'Deploy to Production'
  dependsOn: Build
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
  jobs:
  - deployment: Deploy
    pool:
      vmImage: $(vmImageName)
    environment: 'Production'
    strategy:
      runOnce:
        deploy:
          steps:
          - download: current
            artifact: bicep-templates

          - task: AzureCLI@2
            displayName: 'Create Resource Group'
            inputs:
              azureSubscription: $(azureServiceConnection)
              scriptType: 'bash'
              scriptLocation: 'inlineScript'
              inlineScript: |
                az group create \
                  --name $(resourceGroupName) \
                  --location $(location) \
                  --tags "Environment=Production" "DeployedBy=AzureDevOps"

          - task: AzureCLI@2
            displayName: 'Deploy Bicep Template'
            inputs:
              azureSubscription: $(azureServiceConnection)
              scriptType: 'bash'
              scriptLocation: 'inlineScript'
              inlineScript: |
                az deployment group create \
                  --name "deploy-$(Build.BuildNumber)" \
                  --resource-group $(resourceGroupName) \
                  --template-file $(Pipeline.Workspace)/bicep-templates/$(templateFile) \
                  --parameters $(Pipeline.Workspace)/bicep-templates/$(parametersFile) \
                  --mode Incremental

          - task: AzureCLI@2
            displayName: 'Show Deployment Outputs'
            inputs:
              azureSubscription: $(azureServiceConnection)
              scriptType: 'bash'
              scriptLocation: 'inlineScript'
              inlineScript: |
                az deployment group show \
                  --name "deploy-$(Build.BuildNumber)" \
                  --resource-group $(resourceGroupName) \
                  --query properties.outputs