trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - 'IaC/AzureBiceps/**'

pr:
  branches:
    include:
      - main

pool:
  vmImage: 'ubuntu-latest'

variables:
  location: 'eastus'
  AZURE_SUBSCRIPTION_ID: $(AZURE_SUBSCRIPTION_ID)
  AZURE_TENANT_ID: $(AZURE_TENANT_ID)
  AZURE_CLIENT_ID: $(AZURE_CLIENT_ID)
  AZURE_CLIENT_SECRET: $(AZURE_CLIENT_SECRET)

stages:
  - stage: Deploy
    displayName: 'Deploy Azure Bicep'
    jobs:
      - job: DeployBicep
        displayName: 'Deploy Bicep Templates'
        steps:
          - checkout: self

          # - task: AzureLogin@v2
          #   displayName: 'Azure Login'
          #   inputs:
          #     authenticationType: 'servicePrincipal'
          #     clientId: $(AZURE_CLIENT_ID)
          #     tenantId: $(AZURE_TENANT_ID)
          #     subscriptionId: $(AZURE_SUBSCRIPTION_ID)
          #     clientSecret: $(AZURE_CLIENT_SECRET)

          - task: AzureCLI@2
            displayName: "Azure CLI Login with SPN"
            inputs:
              scriptType: bash
              scriptLocation: inlineScript
              inlineScript: |
                echo "Logging into Azure..."

                az login --service-principal \
                  --username $(AZURE_CLIENT_ID) \
                  --password $(AZURE_CLIENT_SECRET) \
                  --tenant $(AZURE_TENANT_ID)

                az account set --subscription $(AZURE_SUBSCRIPTION_ID)
                az account show

          # Determine which parameter file to use based on branch
          - task: Bash@3
            displayName: 'Set environment variables'
            inputs:
              targetType: 'inline'
              script: |
                if [[ "$(Build.SourceBranch)" == "refs/heads/main" ]]; then
                  echo "##vso[task.setvariable variable=PARAMS_FILE]main-prod.bicepparam"
                  echo "##vso[task.setvariable variable=RESOURCE_GROUP]rg-myapp-prod"
                else
                  echo "##vso[task.setvariable variable=PARAMS_FILE]main-dev.bicepparam"
                  echo "##vso[task.setvariable variable=RESOURCE_GROUP]rg-myapp-dev"
                fi

          - task: AzureResourceGroupDeployment@2
            displayName: 'Deploy Bicep'
            inputs:
              azureSubscription: '$(AZURE_SUBSCRIPTION_ID)'
              action: 'Create Or Update Resource Group'
              resourceGroupName: '$(RESOURCE_GROUP)'
              location: '$(location)'
              templateLocation: 'Linked artifact'
              csmFile: '$(System.DefaultWorkingDirectory)/IaC/AzureBiceps/main.bicep'
              csmParametersFile: '$(System.DefaultWorkingDirectory)/IaC/AzureBiceps/$(PARAMS_FILE)'
              deploymentMode: 'Incremental'